*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-image: url(city.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}
.container{
    background-color: rgb(65, 58, 58);
    width:80vw;
    max-width: 37em;
    padding:3em 2.5em;
    position:absolute;
    transform: translate(-50%, -50%);
    top:50%;
    left:50%;
    border-radius: 0.62em;
    box-shadow: 01.26em 1.8em rgba(102, 103, 105, 0.05);
    
}
.search-box{
    display:grid;
    grid-template-columns: 70% 30%;
    gap:1.25em;
}
.search-box button{
    background-color: rgb(119, 0, 255);
    color:rgb(184, 167, 167);
    font-size: 1em;
    padding:0.8em 0;
    border:none;
    border-bottom: 2px solid red;
    border-radius: 1.5em;
    box-shadow: rgba(8,21,55, 0.05);
}
.search-box input{
    font-size: 1em;
    padding:0 0.62em;
    border: none;
    border-bottom: 2px solid red;
    color:rgb(30, 27, 27);
    outline: none;
    
}
.container .flag-img{
    display:block;
    width:45%;
    min-width:7.5em;
    margin:1.8em auto 1.2em auto;
    border:2px solid rgb(128, 0, 66);
}#result{
    margin-top: 1.15em;
}
 .container h2{
    font-weight: 600;
    color:rgb(17, 176, 194);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1.8em;
    letter-spacing: 2px;
    
}
.data-wrapper{
    margin-bottom: 1em;
    letter-spacing: 0.5px;
}
.container h4{
    display:inline;
    font-weight: 500;
    color:rgb(252, 249, 249)
}
.container span{
    color:rgb(152, 131, 115)
}
.container h3{
    text-align: center;
    color:red;
    
}